## PREDICTiNG THE TITANIC SURVIVERS USING A LOGISTIC REGRESSOR CLASSIFICATION

DATASET SOURCE: "STANFORD UNIVERSITY WEBSITE"

### IMPORTING THE LIBRARIES

In [270]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [271]:
dataset=pd.read_csv("Titanic.csv")

In [272]:
dataset.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

### 'SURVIVED' IS THE DEPENDENT VARIABLE

In [275]:
dataset.Survived.unique()

array([0, 1], dtype=int64)

In [276]:
dataset.isna().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

####  Column "Name" 
IT DOESNT HELP THE MACHINE TO LEARN AS IT IS A UNIQUE FEATURE AND HAS NOTHING TO DO WITH THE PASSENGER'S CHANCES OF SURVIVAL

In [277]:
del dataset['Name']

### COLUMN 'NAME' HAS BEEN REMOVED

In [278]:
dataset.sample(3)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
886,0,3,male,32.0,0,0,7.7500
828,0,3,male,30.0,0,0,7.2292
629,1,1,male,32.0,0,0,30.5000

### SPLITTING INTO DEPENDENT AND INDEPENDENT VARIABLES

In [279]:
X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0].values

### 'SEX' IS A CATEGORICAL VARIBLE ITS SHOULD BE ENCODED TO TRAIN THE MODEL

In [237]:
dataset.Sex.unique()

array(['male', 'female'], dtype=object)

# DUMMY VARIABLE ENCODING

In [280]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:,1] = labelencoder.fit_transform(X[:,1])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

C:\Users\sai prakesh\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\sai prakesh\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

## AVOIDNIG THE DUMMY VARIABLE TRAP

In [246]:
X=X[:,1:]
#IF WE HAVE N DUMMY VARIABLE THE WE HAVE TO INCLUDE N-1 VARIABLES ONLY IN THE MODEL

## FEATURE SCALING (normalizing the variables)

In [321]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
X_train=sc_x.fit_transform(X_train)
X_test=sc_x.transform(X_test)

# Splitting the dataset into the Training set and Test set

In [322]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)

## MODEL CREATION AND TRAINING WITH TRAINING SET

In [323]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression(random_state = 42)
reg.fit(X_train, y_train)

C:\Users\sai prakesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=42, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [324]:
# Predicting the Test set results
y_pred = reg.predict(X_test)

## Confusion Matrix

In [314]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [325]:
print(cm)

[[194  28]
 [ 40  93]]

## ACCURACY

In [319]:
print("accuracy : ",reg.score(X_test,y_test)*100,"%")

accuracy :  80.84507042253522 %

In [320]:
## WE HAVE CREATED A MODEL THAT CAN PREDICT THE SURVIVAL OF TITANIC PASSENGER WITH AN ACCURACY OF 81% approx